body
{
background-color:#d0e4fe;
font-size:12px;
text-align:left;
}

#suite
{
font-size:20px;
text-align:left;
color:blue;
padding-top:15px;
padding-bottom:15px;
padding-right:5px;
padding-left:5px;
} 

#case
{
font-size:12px;
text-align:left;
color:blue;
padding-top:5px;
padding-bottom:0px;
padding-right:5px;
padding-left:15px;
}

canvas
{
text-align:center;
}

#reason
{
font-size:12px;
text-align:left;
font-style:italic;
color:red;
padding-top:0px;
padding-bottom:0px;
padding-right:5px;
padding-left:25px;
}

#description
{
font-size:12px;
text-align:left;
color:purple;
padding-top:0px;
padding-bottom:0px;
padding-right:5px;
padding-left:15px;
}

#subdescription
{
font-size:12px;
text-align:left;
color:purple;
padding-top:0px;
padding-bottom:0px;
padding-right:5px;
padding-left:25px;
}

#suite_result
{
font-size:20px;
text-align:right;
color:blue;
padding-top:15px;
padding-bottom:15px;
padding-right:5px;
padding-left:5px;
} 

#suite_result.passed
{
color:green;
}

#suite_result.failed
{
color:red;
}

#case.passed
{
color:green;
}

#case.failed
{
color:red;
}